<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <style>

        /*Shubh*/
        .video-thumb {
            width: 100%;
        }
        .Gender {
            Male,
           Female
        }
        .post_text {
            padding: 20px;
            background-color: orangered;
            color: #fff;
            flex-grow: 4;
            font-size: 20px;
            width: 100%;
            text-align: center;
            text-transform: capitalize;
        }
    </style>
    <!-- Main Font -->
    <script src="~/Scripts/js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/fonts.min.css">


</head>
<body>




    <!-- Fixed Sidebar Left -->

    <div class="fixed-sidebar">
        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left">

            <a href="/NewsFeed/" class="logo">
                <div class="img-wrap">
                    <img src="~/Content/img/logo.png" alt="Olympus">
                </div>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="left-menu">
                    <li>
                        <a href="/NewsFeed/" class="js-sidebar-open">
                            <svg class="olymp-menu-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="OPEN MENU">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/PersonalInfo/">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Profile Setting">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-setting-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/Notification/">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Notification">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfilePhoto/">
                            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Photos">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-Image-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileVideo/">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Video">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-video-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileFriend/">
                            <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Friends">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-friends-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileAbout/">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="About">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-about-icon"></use>
                            </svg>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1">
            <a href="/NewsFeed/" class="logo">
                <div class="img-wrap">
                    <img src="~/Content/img/logo.png" alt="Olympus">
                </div>
                <div class="title-block">
                    <h6 class="logo-title">MENU</h6>
                </div>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">
                <ul class="left-menu">
                    <li>
                        <a href="#" class="js-sidebar-open">
                            <svg class="olymp-close-icon left-menu-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                            <span class="left-menu-title">Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/PersonalInfo/">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Profile Setting"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-setting-icon"></use></svg>
                            <span class="left-menu-title">PROFILE SETTING</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Notification/">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Notification"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
                            <span class="left-menu-title">NOTIFICATION</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfilePhoto/">
                            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Photos"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-Image-icon"></use></svg>
                            <span class="left-menu-title">PHOTOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileVideo/">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Video"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-video-icon"></use></svg>
                            <span class="left-menu-title">VIDEO</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileFriend/">
                            <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Friends"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-friends-icon"></use></svg>
                            <span class="left-menu-title">FRIENDS</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileAbout/">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="About"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-about-icon"></use></svg>
                            <span class="left-menu-title">ABOUT</span>
                        </a>
                    </li>

                </ul>

                <div class="profile-completion">

                </div>
            </div>
        </div>
    </div>

    <!-- ... end Fixed Sidebar Left -->
    <!-- Fixed Sidebar Left -->

    <div class="fixed-sidebar fixed-sidebar-responsive">

        <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
            <a href="#" class="logo js-sidebar-open">
                <img src="~/Content/img/logo.png" alt="Olympus">
            </a>

        </div>

        <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
            <a href="#" class="logo">
                <div class="img-wrap">
                    <img src="~/Content/img/logo.png" alt="Olympus">
                </div>
                <div class="title-block">
                    <h6 class="logo-title">olympus</h6>
                </div>
            </a>

            <div class="mCustomScrollbar" data-mcs-theme="dark">

                <div class="control-block">
                    <div class="author-page author vcard inline-items">
                        <a href="#">
                            <div class="author-thumb">
                                <img alt="author" src="~/Content/img/author-page.jpg" style="
                                     height: 50px;
                                     width: 50px;
                                     " class="avatar">
                                <span class="icon-status online"></span>
                            </div>
                        </a>
                        <a href="02-ProfilePage.html" class="author-name fn">
                            <div class="author-title">
                                James Spiegel <svg class="olymp-dropdown-arrow-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                            </div>
                            <span class="author-subtitle">SPACE COWBOY</span>
                        </a>
                    </div>
                </div>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">MAIN SECTIONS</h6>
                </div>

                <ul class="left-menu">
                    <li>
                        <a href="/NewsFeed/" class="js-sidebar-open">
                            <svg class="olymp-close-icon left-menu-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                            <span class="left-menu-title">Menu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/PersonalInfo/">
                            <svg class="olymp-newsfeed-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Profile Setting"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-setting-icon"></use></svg>
                            <span class="left-menu-title">PROFILE SETTING</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Notification/">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Notification"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
                            <span class="left-menu-title">NOTIFICATION</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfilePhoto/">
                            <svg class="olymp-happy-faces-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Photos"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-Image-icon"></use></svg>
                            <span class="left-menu-title">PHOTOS</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileVideo/">
                            <svg class="olymp-headphones-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Video"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-video-icon"></use></svg>
                            <span class="left-menu-title">VIDEO</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileFriend/">
                            <svg class="olymp-weather-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="Friends"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-Profile-friends-icon"></use></svg>
                            <span class="left-menu-title">FRIENDS</span>
                        </a>
                    </li>
                    <li>
                        <a href="/ProfileAbout/">
                            <svg class="olymp-calendar-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="About"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-about-icon"></use></svg>
                            <span class="left-menu-title">ABOUT</span>
                        </a>
                    </li>

                </ul>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">YOUR ACCOUNT</h6>
                </div>

                <ul class="account-settings">
                    <li>
                        <a href="#">

                            <svg class="olymp-menu-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>

                            <span>Profile Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FAV PAGE"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>

                            <span>Create Fav Page</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Login")">
                            <svg class="olymp-logout-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

                            <span>Log Out</span>
                        </a>
                    </li>
                </ul>

                <div class="ui-block-title ui-block-title-small">
                    <h6 class="title">About Olympus</h6>
                </div>

                <ul class="about-olympus">
                    <li>
                        <a href="#">
                            <span>Terms and Conditions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>FAQs</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Careers</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <!-- ... end Fixed Sidebar Left -->
    <!-- ... end Fixed Sidebar Right-Responsive -->
    <!-- Header-BP -->

    <header class="header" id="site-header">

        <div class="page-title">
            <h6>Profile Page</h6>
        </div>

        <div class="header-content-wrapper">
            <form class="search-bar w-search notification-list friend-requests">
                <div class="form-group with-button">
                    <input type="text" id="search_input" autocomplete="off" onkeyup="search_pro(this);" placeholder="Search here people or pages..." class="form-control" />

                    <button>
                        <svg class="olymp-magnifying-glass-icon">
                            <a href="javascript:void(0)">
                                <use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon">
                                </use>
                            </a>
                        </svg>
                    </button>
                </div>
                <div class="bg-white show_search ">

                </div>
            </form>
            <a href="#" class="link-find-friend">Find Friends</a>

            <div class="control-block">

                @*<div class="control-icon more has-items">
                    <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                    <div class="label-avatar bg-blue">6</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">FRIEND REQUESTS</h6>
                            <a href="#">Find Friends</a>
                            <a href="#">Settings</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list friend-requests">
                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar55-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Tamara Romanoff</a>
                                        <span class="chat-message-item">Mutual Friend: Sarah Hetfield</span>
                                    </div>
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="icon-add without-text">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                        <a href="#" class="accept-request request-del">
                                            <span class="icon-minus">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar56-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Tony Stevens</a>
                                        <span class="chat-message-item">4 Friends in Common</span>
                                    </div>
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="icon-add without-text">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                        <a href="#" class="accept-request request-del">
                                            <span class="icon-minus">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                                <li class="accepted">
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar57-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        You and <a href="#" class="h6 notification-friend">Mary Jane Stark</a> just became friends. Write on <a href="#" class="notification-link">her wall</a>.
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar58-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Stagg Clothing</a>
                                        <span class="chat-message-item">9 Friends in Common</span>
                                    </div>
                                    <span class="notification-icon">
                                        <a href="#" class="accept-request">
                                            <span class="icon-add without-text">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                        <a href="#" class="accept-request request-del">
                                            <span class="icon-minus">
                                                <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                            </span>
                                        </a>

                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <a href="#" class="view-all bg-blue">Check all your Events</a>
                    </div>
                </div>

                <div class="control-icon more has-items">
                    <svg class="olymp-chat---messages-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                    <div class="label-avatar bg-purple">2</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Chat / Messages</h6>
                            <a href="#">Mark all as read</a>
                            <a href="#">Settings</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list chat-message">
                                <li class="message-unread">
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar59-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Diana Jameson</a>
                                        <span class="chat-message-item">Hi James! It’s Diana, I just wanted to let you know that we have to reschedule...</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar60-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Jake Parker</a>
                                        <span class="chat-message-item">Great, I’ll see you tomorrow!.</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>
                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar61-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">Elaine Dreyfuss</a>
                                        <span class="chat-message-item">We’ll have to check that at the office and see if the client is on board with...</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 9:56pm</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>

                                <li class="chat-group">
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar11-sm.jpg" alt="author">
                                        <img src="~/Content/img/avatar12-sm.jpg" alt="author">
                                        <img src="~/Content/img/avatar13-sm.jpg" alt="author">
                                        <img src="~/Content/img/avatar10-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <a href="#" class="h6 notification-friend">You, Faye, Ed &amp; Jet +3</a>
                                        <span class="last-message-author">Ed:</span>
                                        <span class="chat-message-item">Yeah! Seems fine by me!</span>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 16th at 10:23am</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-chat---messages-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                                    </span>
                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="#" class="view-all bg-purple">View All Messages</a>
                    </div>
                </div>

                <div class="control-icon more has-items">
                    <svg class="olymp-thunder-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>

                    <div class="label-avatar bg-primary">8</div>

                    <div class="more-dropdown more-with-triangle triangle-top-center">
                        <div class="ui-block-title ui-block-title-small">
                            <h6 class="title">Notifications</h6>
                            <a href="#">Mark all as read</a>
                            <a href="#">Settings</a>
                        </div>

                        <div class="mCustomScrollbar" data-mcs-theme="dark">
                            <ul class="notification-list">
                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar62-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">Mathilda Brinker</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">4 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-comments-post-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li class="un-read">
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar63-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div>You and <a href="#" class="h6 notification-friend">Nicholas Grissom</a> just became friends. Write on <a href="#" class="notification-link">his wall</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">9 hours ago</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li class="with-comment-photo">
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar64-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">Sarah Hetfield</a> commented on your <a href="#" class="notification-link">photo</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 5:32am</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-comments-post-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
                                    </span>

                                    <div class="comment-photo">
                                        <img src="~/Content/img/comment-photo1.jpg" alt="photo">
                                        <span>“She looks incredible in that outfit! We should see each...”</span>
                                    </div>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar65-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">Green Goo Rock</a> invited you to attend to his event Goo in <a href="#" class="notification-link">Gotham Bar</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 5th at 6:43pm</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-happy-face-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>

                                <li>
                                    <div class="author-thumb">
                                        <img src="~/Content/img/avatar66-sm.jpg" alt="author">
                                    </div>
                                    <div class="notification-event">
                                        <div><a href="#" class="h6 notification-friend">James Summers</a> commented on your new <a href="#" class="notification-link">profile status</a>.</div>
                                        <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">March 2nd at 8:29pm</time></span>
                                    </div>
                                    <span class="notification-icon">
                                        <svg class="olymp-heart-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                                    </span>

                                    <div class="more">
                                        <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                                        <svg class="olymp-little-delete"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <a href="#" class="view-all bg-primary">View All Notifications</a>
                    </div>
                </div>*@

                <div class="author-page author vcard inline-items more">
                    <div class="author-thumb">

                        @* <img alt="author" src="/post/ImageRetrieve?id=1" style="height:" width="36px" height="36px" class="avatar"></a>*@
                        <img alt="author" src="/post/ImageRetrieve?id=1" width="36px" height="36px" class="avatar" style="
    height: 50px;
    width: 50px;
">
                        <span class="icon-status online"></span>
                        <div class="more-dropdown more-with-triangle">
                            <div class="mCustomScrollbar" data-mcs-theme="dark">
                                <div class="ui-block-title ui-block-title-small">
                                    <h6 class="title">Your Account</h6>
                                </div>

                                <ul class="account-settings">
                                    <li>

                                        <a href="/ProfileTimeline/">
                                            <svg class="olymp-menu-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                            <span>Profile </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/PersonalInfo/">
                                            <svg class="olymp-star-icon left-menu-icon" data-toggle="tooltip" data-placement="right" data-original-title="FAV PAGE"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                                            <span>Profile Setting</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Logout", "Login")">
                                            <svg class="olymp-logout-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

                                            <span>Log Out</span>
                                        </a>
                                    </li>
                                </ul>




                            </div>

                        </div>
                    </div>
                    <a href="/PersonalInfo/" class="author-name fn">
                        <div class="author-title">
                            @Html.Label("user_bio", (string)Session["username"])
                            <svg class="olymp-dropdown-arrow-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                        </div>
                        <span class="author-subtitle">
                            @Html.Label("user_bio", (string)Session["username_id"])
                        </span>
                    </a>
                </div>

            </div>
        </div>

    </header>

    <!-- ... end Header-BP -->



    @RenderBody()



    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <svg class="olymp-little-delete js-chat-open"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="~/Content/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="~/Content/img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="~/Content/img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon"><use xlink:href="~/Content/svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="~/Content/img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->
    <!-- JS Scripts -->
    <script src="~/Vender/dashbord.js"></script>

    <script src="~/Scripts/js/jquery-3.2.1.js"></script>
    <script src="~/Scripts/js/jquery.appear.js"></script>
    <script src="~/Scripts/js/jquery.mousewheel.js"></script>
    <script src="~/Scripts/js/perfect-scrollbar.js"></script>
    <script src="~/Scripts/js/jquery.matchHeight.js"></script>
    <script src="~/Scripts/js/svgxuse.js"></script>
    <script src="~/Scripts/js/imagesloaded.pkgd.js"></script>
    <script src="~/Scripts/js/Headroom.js"></script>
    <script src="~/Scripts/js/velocity.js"></script>
    <script src="~/Scripts/js/ScrollMagic.js"></script>
    <script src="~/Scripts/js/jquery.waypoints.js"></script>
    <script src="~/Scripts/js/jquery.countTo.js"></script>
    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/material.min.js"></script>
    <script src="~/Scripts/js/bootstrap-select.js"></script>
    <script src="~/Scripts/js/smooth-scroll.js"></script>
    <script src="~/Scripts/js/selectize.js"></script>
    <script src="~/Scripts/js/swiper.jquery.js"></script>
    <script src="~/Scripts/js/moment.js"></script>
    <script src="~/Scripts/js/daterangepicker.js"></script>
    <script src="~/Scripts/js/simplecalendar.js"></script>
    <script src="~/Scripts/js/fullcalendar.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.js"></script>
    <script src="~/Scripts/js/ajax-pagination.js"></script>
    <script src="~/Scripts/js/Chart.js"></script>
    <script src="~/Scripts/js/chartjs-plugin-deferred.js"></script>
    <script src="~/Scripts/js/circle-progress.js"></script>
    <script src="~/Scripts/js/loader.js"></script>
    <script src="~/Scripts/js/run-chart.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.js"></script>
    <script src="~/Scripts/js/jquery.gifplayer.js"></script>
    <script src="~/Scripts/js/mediaelement-and-player.js"></script>
    <script src="~/Scripts/js/mediaelement-playlist-plugin.min.js"></script>
    <script src="~/Scripts/js/sticky-sidebar.js"></script>

    <script src="~/Scripts/js/base-init.js"></script>
    <script defer src="~/fonts/fonts/fontawesome-all.js"></script>

    <script src="~/Content/Bootstrap/dist/js/bootstrap.bundle.js"></script>
    @RenderSection("Scripts", required: false)

</body>

<!-- Mirrored from html.crumina.net/html-olympus/02-ProfilePage.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 23 Jan 2019 19:41:14 GMT -->
</html>

